html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.section__title {
  color: #212121;
  font-weight: 700;
  line-height: 1.1785714286;
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    line-height: 1.1666666667;
    font-size: 36px;
  }
}

.cardset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.header {
  border-style: none;
  border-width: 1px;
  border-color: #ECECEC;
  border-bottom-style: solid;
}

.mobile-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .mobile-menu__icon-close {
  display: none;
}
.mobile-menu.is-open .mobile-menu__icon-close {
  display: block;
}
.mobile-menu.is-open .mobile-menu__icon-open {
  display: none;
}
.mobile-menu__container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.mobile-menu__container.is-open {
  display: block;
}
.mobile-menu__icon-close:hover, .mobile-menu__icon-close:focus {
  fill: #2196F3;
}

.mobile-menu__nav {
  padding-top: 42px;
  padding-left: 40px;
}
.mobile-menu__nav--top {
  margin-bottom: 302px;
}
.mobile-menu__nav-middle {
  margin-bottom: 64px;
}
.mobile-menu__nav--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.mobile-menu__item {
  margin-bottom: 32px;
}
.mobile-menu__item--current {
  margin-bottom: 32px;
  color: #2196F3;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__link--current {
  color: #2196F3;
}
.mobile-menu__link--email {
  font-size: 24px;
  line-height: 1.1666666667;
  color: #757575;
}
.mobile-menu__link--social {
  font-size: 18px;
  line-height: 1.2222222222;
  color: #2196F3;
  letter-spacing: 0.02em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #000;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.logo__accent {
  color: #2196F3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.nav--main, .nav--main-space, .nav_item {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    margin-right: 50px;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
  .nav__link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196F3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    margin-right: 50px;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
  .nav__link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196F3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.current {
  color: #2196F3;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  background: #2196F3;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  bottom: 0;
}

.nav--right {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__item--right {
    margin: 0px;
    margin-bottom: 10px;
  }
  .nav__item--right:last-child {
    margin-bottom: 0;
  }
  .nav--right {
    display: inline-block;
  }
}
.nav__link--rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: currentColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--rigth:hover, .nav__link--rigth:focus {
  color: #2196F3;
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav--space {
  margin-left: auto;
}

.nav__icon {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .nav__item--right {
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .nav__item--right:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .nav--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__link--rigth {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 0px;
  }
  .nav__link--rigth:hover, .nav__link--rigth:focus {
    color: #2196F3;
    fill: #2196F3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav--space {
    margin-left: auto;
  }
  .nav__icon {
    margin-right: 10px;
  }
}
.hero {
  background-color: #2F303A;
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-mobile.jpg");
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 767px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-bg-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: #2F303A;
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-tablet.jpg");
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1199px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: #2F303A;
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-desktop.jpg");
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-desktop.jpg");
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-bg-desktop@2x.jpg");
  }
}
.hero__title {
  color: #fff;
  font-size: 26px;
  line-height: 1.6153846154;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.hero__button {
  margin-top: 30px;
  background-color: #2196F3;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-style: solid;
  border-color: #2196F3;
  border-radius: 0.3em;
  color: #fff;
  cursor: pointer;
  padding: 10px 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #fff;
  border-radius: 0.3em;
  color: #2196F3;
  border-color: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 9;
}
.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  height: 609px;
  margin: 0px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000;
}
.modal__button-close:hover, .modal__button-close:focus {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-header {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__form-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
}

.modal__form-field {
  position: relative;
  margin-bottom: 10px;
}
.modal__form-field .modal__input-icon, .modal__form-field .modal__input-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:hover .modal__input-icon, .modal__form-field:focus .modal__input-icon {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input {
  outline: none;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196F3;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus-within + .modal__input-icon {
  fill: #2196F3;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.modal__input-icon {
  position: absolute;
  top: 32px;
  left: 12px;
}

.modal__comment {
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  font-size: 12px;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:hover, .modal__comment:focus {
  border: 1px solid #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.modal__checkbox:checked + .modal__icon-check {
  background-color: #2196F3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-style: none;
}

.modal__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    line-height: 1.7142857143;
    color: #757575;
  }
}

.modal__icon-check {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 7px;
}

.modal__check-button {
  text-align: center;
  margin-bottom: 30px;
}

.modal__link {
  color: #2196F3;
}

.modal__button {
  cursor: pointer;
  position: absolute;
  bottom: 47px;
  left: 50%;
  translate: -50% 0%;
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  background-color: #2196F3;
  border-radius: 4px;
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.features__item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}
.features__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7142857143;
}

.section--features {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section--features {
    padding-bottom: 0px;
  }
}

.wedo {
  display: none;
}

@media screen and (min-width: 1200px) {
  .wedo {
    display: block;
  }
  .wedo__thumb {
    position: relative;
    max-width: 370px;
  }
  .wedo__thumb > .wedo__label {
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
    background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    bottom: 0px;
    width: 100%;
  }
}
.section--team {
  background-color: #F5F4FA;
}

.team__card {
  background-color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.team__thumb {
  max-width: 450px;
}
.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (min-width: 768px) {
  .team__card {
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  }
  .team__thumb {
    max-width: 354px;
  }
  .team__desc {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .team__title {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
  }
  .team__text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  }
  .team__thumb {
    max-width: 270px;
  }
  .team__desc {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .team__title {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
  }
  .team__text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 16px;
  gap: 10px;
}
.social--footer {
  margin-top: 0px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}
.social__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  fill: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--footer:hover, .social__link--footer:focus {
  background-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover .icon, .client__link:focus .icon {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon {
  fill: #AFB1B8;
  display: block;
  width: 106px;
  height: 60px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon:hover, .client__icon:focus {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filter__button {
  background-color: #F5F4FA;
  font-size: 16px;
  line-height: 1.8;
  border-style: none;
  border-color: rgb(255, 255, 255);
  border-radius: 0.3em;
  color: #212121;
  padding: 6px 22px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.filter__button--active {
  background-color: #2196F3;
  font-size: 16px;
  line-height: 1.8;
  border-style: none;
  border-color: rgb(255, 255, 255);
  border-radius: 0.3em;
  color: #fff;
  cursor: pointer;
}
.filter__button--first {
  padding: 6px 25px;
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196F3;
  color: #fff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__card {
  display: block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover, .portfolio__card:focus {
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item-desc {
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-top-style: none;
  padding: 20px 24px;
}
.portfolio__title {
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
  max-width: 450px;
  max-height: 294px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .portfolio__thumb {
    max-width: 354px;
    max-height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__thumb {
    max-width: 370px;
    max-height: 294px;
  }
}
.portfolio__thumb > .portfolio__label {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover .portfolio__label {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer--spacing {
  padding: 0px;
  background-color: transparent;
  margin-right: 0px;
  margin-left: 0px;
}
@media screen and (min-width: 768px) {
  .footer--spacing {
    margin-right: 0px;
    margin-left: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--spacing {
    margin-right: 23px;
    margin-left: 0px;
  }
}
.footer__address {
  min-width: 232px;
}

.footer-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-blocks {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-blocks {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 70px;
    text-align: left;
  }
}

.uppercase {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  color: #fff;
}

.footer__logo {
  text-align: center;
  margin-bottom: 20px;
}
.footer__logo--white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}
.address__link {
  line-height: 1.7;
  color: #fff;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  line-height: 1.7;
  color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item {
  margin-bottom: 9px;
}

.footer__contacts {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
}

.newsletter {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .newsletter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
}
.newsletter__input {
  outline: none;
  margin: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
    margin: 0px;
    margin-right: 12px;
  }
}
.newsletter__input::-webkit-input-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter__input::-moz-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter__input:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter__input::-ms-input-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter__input::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter__button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  color: #fff;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  background-color: #2196F3;
}
.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */