/*:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --team-background: #F5F4FA;
    --accent-background: #2F303A;
    --icon-color: #AFB1B8;*/
 /*   --trans-dur: 250ms;
    --trans-time: cubic-bezier(0.4, 0, 0.2, 1); 
}*/
/* Global styles */

/* Header styles */

/* Page content styles */

/* Modal window */

/* Features Section */

/* WeDo Section */

/* Team Section */

/* Clients styles  */

/* Portfolio styles */

/* Footer styles */

/* Icons */
