.footer {
    background-color: $accentBg;
    padding-top: 60px;
    padding-bottom: 60px;

    &--spacing {
        padding: 0px;
        background-color: transparent;
        margin-right: 0px;
        margin-left: 0px;
    }

    &__address {
        width: 232px;
    }
}
.footer-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    text-align: center;
    @media screen and (min-width: $tablet) {
        align-items: baseline;
        justify-content: space-around;
    }
    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 70px;
        text-align: left;
    }
}
.uppercase {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    color: #fff;
}