.header {
    border-style: none;
    border-width: 1px;
    border-color: #ECECEC;
    border-bottom-style: solid;
}
.mobile-menu {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    border: none;
    background-color: transparent;
    z-index: 2;

    @media screen and (min-width: $tablet) {
            display: none;
    }

    & &__icon-close {
        display: none;
    }

    &.is-open &__icon-close {
        display: block;
    }

    &.is-open &__icon-open {
        display: none;
    }

    &__container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1;

        &.is-open {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            height: 100vh;
            padding-top: 42px;
            padding-left: 40px;
            padding-bottom: 48px;
            overflow: hidden;
        }
    }

    &__icon-close:hover,
    &__icon-close:focus {
        fill:$accentColor;
    }
}
.mobile-menu__nav {
    display: block;
    width: 100vw;

    &--middle {
        margin-top: auto;
    }

    &--bottom {
        margin-top: 64px;
    }

    &--social {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    &--social-spacer {
        border: 1px none rgba(33, 33, 33, 0.2);
        border-left-style: solid;
        font-size: 1px;
    }
}

.mobile-menu__item {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0px;
    }

    &--current {
    color: $accentColor;
    }
}

.mobile-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: $titleColor;

    &--current {
        color: $accentColor;
    }
    &--email {
        font-size: 24px;
        line-height: calc(28/24);
        color: $textColor;
    }
    &--social {
        font-size: 18px;
        line-height: calc(22/18);
        color: $accentColor;
        letter-spacing: 0.02em;
    }
    &--social-spacer {
        font-size: 18px;
        border: 1px none rgba(33, 33, 33, 0.2);
        border-left-style: solid;
    }
}