.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    &__card {
    display: block;
    transition: $transDur $transTime;

        &:hover,
        &:focus {
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2),
                    0 1px 1px rgba(0, 0, 0, 0.14),
                    0 1px 3px rgba(0, 0, 0, 0.12);
        transition: $transDur $transTime;
        }
    }
    &__item-desc {
        border-style: solid;
        border-width: 1px;
        border-color: #eee;
        border-top-style: none;
        padding: 20px 24px;
    }
    &__title {
        font-size: 18px;
        line-height: 2;
        color: $titleColor;
    }
    &__text {
        font-size: 16px;
        line-height: 1.9;
        color: $textColor;
    }
}
.portfolio__thumb {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 294px;
    margin:0px;
    @media screen and (min-width: $tablet) {
        width: 354px;
        height: 294px;
    }
    @media screen and (min-width: $desktop) {
        width: 370px;
        height: 294px;
    }

    & > .portfolio__label {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    top:0;
    left:0;
    transform: translateY(100%);
    transition: $transDur $transTime;
    }
}
.portfolio__card:hover .portfolio__label {
    transform: translateY(0);
}