.wedo {
    display: none;
}
@media screen and (min-width: $desktop) {
    .wedo {
        display: block;
        
        &__thumb {
        position: relative;
        max-width: 370px;
    
        & > .wedo__label {
        position: absolute;
        background: linear-gradient(to right, rgba(47,48,58,0.8),  rgba(47,48,58,0.8));
        padding-top: 27px;
        padding-bottom: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        bottom: 0px;
        width: 100%;
            }
        }
        }
    }